div#panel
  div.top
    - if (user)
      a#signout.btn.enabled(href="/user/signout")
        span Выход
  div.bottom
    ul
      - if (user)
        li
          a(href="/profile") Моя карточка
        li
          a(href="/feed") Мой форум
        li
          a(href="#") Мой дневник
        li
          a(href="#") Сообщество
        li
          a(href="#") Самочувствие
        li
          a(href="#") Методы лечения
      - else
        li
          a(href="#") Меню
        li
          a(href="#") Меню
        