doctype 5
html
  head
    meta(charset="UTF-8")
    title Ismax
    link(rel='stylesheet', href='/css/common.css')
  body
    div#main
      include includes/head
      div.table(id="columns")
        div.tr
          div.td(id="left")
          div.td(id="center")
          div.td(id="right")
    div#footer
        